.color_title {
    margin-bottom: 15px;
}

.color_type_container{
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: repeat(2, 0.25fr);
    justify-items: center;
    gap: 15px;
    width: 80%;
}

.color_type {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.color_type:active{
    border: 2px solid #fff;
}
.color_type:first-child{
    background-color: #f00;
}
.color_type:nth-child(2){
    background-color: #f800d7;
}
.color_type:nth-child(3){
    background-color: #f4f800;
}
.color_type:nth-child(4){
    background-color: #f8aa00;
}
.color_type:nth-child(5){
    background-color: #6ed32be7;
}
.color_type:nth-child(6){
    background-color: #006cf8;
}
.color_type:nth-child(7){
    background-color: #000000;
}
.color_type:nth-child(8){
    background-color: #ffffff;
}
