.stats_container {
    margin-top: 40px;
}

.stats_title {
    margin-bottom: 15px;
    font-size: 24px;
}

.stats {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.stats>ul {
    list-style: none;
}

.stats>ul>li {
    margin-bottom: 9px;
    font-size: 18px;
}

.stat_type_top {
    display: none;
}

.raya,
.raya_vacia {
    width: 35px;
    height: 7px;
    margin-right: 5px;
    display: inline-block;
    background-color: #fff;
}

.raya_vacia {
    background-color: #857b7b73;
}
@media (min-width:820px) and (max-width: 1270px) {
    .stats_container{
        width: 100%;
    }

    .stats_title {
        font-size: 30px;
    }
    .stats>ul>li {
        font-size: 22px;
    }
}


@media (max-width: 520px) {
    .stats_container {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }
    
    .raya,
    .raya_vacia {
        width: 25px;
        height: 5px;
    }
    
    .stats>ul>li {
        font-size: 15px;
        padding-bottom: 2px;
    }
    
    .stats_title {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
   .stats>ul>li {
        font-size: 12px;
    }
}