.stats_title {
    margin-bottom: 15px;
    font-size: 24px;
}

.stats {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.stats>ul {
    list-style: none;
}

.stats>ul>li {
    margin-bottom: 9px;
    font-size: 18px;
}

.raya,
.raya_vacia {
    width: 35px;
    height: 7px;
    margin-right: 5px;
    display: inline-block;
    background-color: #fff;
}

.raya_vacia {
    background-color: #857b7b73;
}

@media (max-width: 520px) {
    .stats_container {
        display: flex;
        flex-direction: column;
    }

    .raya,
    .raya_vacia {
        width: 25px;
        height: 5px;
    }

    .list_stats >li {
        font-size: 15px;
        padding-bottom: 2px;
    }
}